body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.container{
    background-color: aliceblue;
    height: 500px;
    width: 450px;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 12px 20px 5px rgb(100, 100, 100);
}
.brand-logo{
    background: url(../img/images.jpg);
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
}
.brand-title{
    color: rgb(96, 96, 192);
}
.inputs{
    text-align: left;
}
.lable,button,input{
    display: block;
    width: 100%;
    border: none;
}
label{
    color: rgb(96, 96, 192);
    margin-bottom: 10px;
}
input{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    height: 40px;
    box-shadow: 10px 10px 5px rgb(124, 128, 129);
}
button{
    margin: zopx;
    background-color: rgb(124, 128, 129);
    color: black;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(124, 128, 129);
}